*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

/* HERO */
.hero {
  background: #f3eed9;
  text-align: center;
}

.hero__content {
  min-height: 660px;
  max-width: 800px;
  justify-content: center;
  gap: 1em;
}

.hero__topper {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 300;
  font-size: 18px;
}

.hero__title {
  color: #824936;
  font-weight: 900;
  font-size: 60px;
  font-family: "Playfair Display";
}
