*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary-dark: #2e323f;
  --color-primary: #3b4050;
  --color-primary-light: #6f737f;

  --color-white: #ffffff;
  --color-accent: #a59678;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

  position: relative;
}

.btn--solid {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--color-accent);
  color: inherit;
  border-radius: 100px;
  font: inherit;
}

/* HEADER */
header {
  background-color: var(--color-primary-dark);
  color: var(--color-white);

  padding: 1em 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1em;

  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav.visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.logo {
  height: 30px;
  /* margin-right: 1em; needed if not centering the primary nav*/
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--color-primary);
  color: var(--color-white);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

@media (min-width: 700px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  header > .row {
    align-items: center;
  }

  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .nav {
    visibility: visible;
    height: auto;
    position: relative;
  }

  .nav,
  .nav__list {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
}

@media (min-width: 1000px) {
}
