*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary-dark: #2e323f;
  --color-primary: #3b4050;
  --color-primary-light: #6f737f;
  --color-primary-very-light: hsl(225, 7%, 95%);

  --color-white: #ffffff;
  --color-accent: #a59678;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

  position: relative;
}

.btn--solid {
  display: inline-block;
  padding: 0.25em 1.5em;
  background-color: var(--color-accent);
  color: inherit;
  border-radius: 100px;
  font: inherit;
}

.accent-text {
  color: var(--color-accent) !important;
}

section,
footer {
  padding: clamp(2rem, 0.6364rem + 5.8182vw, 5rem) 0;
}

a:hover,
.btn--solid:hover {
  opacity: 0.5;
}

/* HEADER */
header {
  background-color: var(--color-primary-dark);
  color: var(--color-white);

  padding: 1em 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2em;

  visibility: hidden;
  height: 0;
  position: absolute;

  margin: 2em 0;
}

.nav.visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.logo {
  height: 30px;
  /* margin-right: 1em; needed if not centering the primary nav*/
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--color-primary);
  color: var(--color-white);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* HERO */
.hero {
  background-color: var(--color-primary);
  color: var(--color-white);

  min-height: 24rem;

  place-content: center;

  p {
    font-size: clamp(1.125rem, 0.9545rem + 0.7273vw, 1.5rem);
    opacity: 0.75;
  }

  .btn--solid {
    font-size: clamp(1.125rem, 0.9545rem + 0.7273vw, 1.5rem);
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
}

h1 {
  font-size: clamp(3.5rem, 2.5341rem + 4.1212vw, 5.625rem);
  line-height: 1.1;
}

/* Section Two */
.section-two {
  background-color: var(--color-primary-very-light);
  text-align: center;

  h2 {
    font-size: 1.875rem;
  }

  .row > div:nth-child(2) {
    margin: 4em 0;
  }
}

/* Section three */
.section-three {
  h2 {
    font-size: clamp(1.5rem, 1.1591rem + 1.4545vw, 2.25rem);
  }

  p {
    font-size: 1.3125rem;
  }
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 1.875rem;
  }

  p {
    font-size: 1.125rem;
  }
}

.sidebar > div {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  padding: 1.5rem;
}

/* FOOTER */
footer {
  background-color: var(--color-primary);
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  p,
  a {
    opacity: 0.75;
  }

  h2 {
    color: var(--color-white);
    font-size: clamp(1.5rem, 0.5909rem + 3.8788vw, 3.5rem);
    text-align: center;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.3125rem;
    margin-bottom: 0;
  }

  .footer-nav__list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .sidebar {
    flex-direction: row;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
  header > .row {
    align-items: center;
  }

  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .nav {
    visibility: visible;
    height: auto;
    position: relative;

    gap: 4em;
  }

  .nav,
  .nav__list {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .nav__list {
    gap: 3em;
  }

  .hero {
    min-height: 42rem;

    .row {
      align-items: center;
    }
  }

  .section-two > .row {
    gap: 8rem;
  }

  .section-two > .row > div:nth-child(2) {
    margin: 0;
  }

  .section-three {
    .main-content {
      width: 57%;
    }

    .sidebar {
      width: 30%;
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }

  footer {
    text-align: start;

    h2 {
      margin-bottom: 2em;
    }

    .about p {
      max-width: 40ch;
    }

    .footer-nav {
      flex-grow: 1;
    }

    .row {
      align-items: start;
      gap: 8rem;
    }

    .footer-nav__list {
      margin: 0;
    }
  }
}
