*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary-dark: #2e323f;
  --color-primary: #3b4050;
  --color-primary-light: #6f737f;

  --color-white: #ffffff;
  --color-accent: #a59678;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn--solid {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--color-accent);
  color: inherit;
  border-radius: 100px;
  font: inherit;
}

/* HEADER */
header {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  position: relative;
  padding: 1em 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 700px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}

@media (min-width: 1000px) {
}
