@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --dark-blue: #23424a;
  --medium-blue: #136c72;
  --light-blue: #38cfd9;
  --purple: #87629a;
  --dark-gray: #3a3a3a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; /* 21px */
  line-height: 1.5;
  font-weight: 400;
}

header {
  background: var(--dark-blue);
  padding: 25px 0;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  padding: 100px 0;
  background: var(--dark-blue);
  color: #fff;
}

.hero__text,
.main__text {
  width: 63%;
}

.hero p {
  margin-bottom: 3em;
}

.hero__image,
.main__aside {
  width: 35%;
}

.hero__image {
  align-self: flex-start;
}

.btn--solid {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 700;
  background: var(--light-blue);
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn--solid:hover,
.btn--solid:focus {
  opacity: 0.75;
}

.main-content {
  padding: 3em 0;
}

.accent-text {
  color: var(--purple);
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.main__text {
  padding: 1em 0;
}

.section__title {
  color: var(--medium-blue);
  font-size: 2.25rem;
  font-weight: 900;
}

.sidebar {
  padding: 1em;
  background-color: var(--medium-blue);
  color: #fff;
  text-align: center;
}
