:root {
  /* Colors */
  --dark-blue: #23424a;
  --medium-blue: #136c72;
  --light-blue: #38cfd9;
  --purple: #87629a;
  --dark-gray: #3a3a3a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; /* 21px */
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;

  position: relative;
}

.btn--solid {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 900;
  background: var(--light-blue);
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn--solid:hover,
.btn--solid:focus {
  opacity: 0.75;
}

.accent-text {
  color: var(--purple);
}

/* HEADER */
header {
  background: var(--medium-blue);
  padding: 1em 0;
  text-align: center;
}

.logo {
  height: 30px;
  /* margin-right: 1em; needed if not centering the primary nav*/
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2em;

  margin-bottom: 2rem;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav__list--primary {
  margin: 1em 0 0;
}

.nav.visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
  font-weight: 900;
}

.nav__link:hover {
  opacity: 0.75;
}
.hero__text,
.hero__image,
.main-content,
.sidebar {
  width: 100%;
}
/* HERO */

.hero {
  padding: 100px 0;
  background: var(--dark-blue);
  color: #fff;
}

.hero p {
  margin-bottom: 3em;
}

.hero__image {
  margin-top: 2em;
}

/* MAIN */
.main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section__title {
  font-size: 2.25rem;
  font-weight: 900;
}

/* ASIDE */
.sidebar {
  text-align: center;
  color: #fff;
  background-color: var(--medium-blue);
  padding: 1em;
}

@media (min-width: 800px) {
  header {
    padding: 2em 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .hero__text,
  .main__text {
    width: 63%;
  }
  .hero__image,
  .main__aside {
    width: 35%;
  }

  .hero__image {
    margin-top: 0;
    margin-left: 2em;
  }

  .nav {
    align-items: center;
    visibility: visible;
    height: auto;
    position: relative;

    flex-direction: row;
    margin-bottom: 0;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__list--primary {
    margin: 0 auto;
  }

  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .main-content {
    width: 62%;
  }

  .sidebar {
    width: 32%;
  }
}
